html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

ul > li {
  list-style: none;
}

.ml-27 {
  margin-left: 27px;
}

main, footer {
  min-width: 1440px;
}

.fixed-contain {
  position: fixed;
  top: 50%;
  right: 0;
  width: 480px;
  height: 299px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 0px rgba(223, 230, 242, 0.5);
  border-radius: 30px 0px 0px 30px;
  z-index: 110;
}

.fixed-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 44px 71px 33px 47px;
  margin: 0;
}

.fixed-image {
  width: 150px;
  height: 150px;
  background: #F7F6FE;
}

.fixed-text {
  font-size: 20px;
  font-weight: 400;
  color: #393E46;
  line-height: 1;
  text-align: center;
}

.banner-wrapper {
  background: url(./images/banner.png) no-repeat center center;
  background-size: cover;
  height: 888px;
  margin: 0 auto;
  z-index: 90;
}

.banner-content {
  padding-top: 253px;
  padding-left: 230px;
  z-index: 91;
}



.banner-header, .banner-subheader {
  color: #006B9F;
  line-height: 1.5;
  font-weight: bold;
  margin: 16px 0 0;
}

.banner-header {
  font-size: 48px;
}

.banner-subheader {
  font-size: 40px;
}

.banner-list {
}

.banner-list > li {
  color: #005C88;
  font-size: 26px;
  line-height: 1.15;
  font-weight: 300;
}

.banner-list > li::marker {
  color: #00B7FF;
  font-size: 1.5em;
}

.info-content {
  padding-bottom: 70px;
}

.common_title, .common_subtitle {
  position: relative;
  width: 100%;
  line-height: 1.5;
  margin: 16px 0 0;
  color: #454950;
  text-align: center;
}

.common_title {
  font-size: 36px;
  font-weight: bold;
  padding-top: 94px;
}

.common_subtitle {
  font-size: 24px;
  font-weight: 400;
}

.game {
  background: url(./images/path.png) no-repeat left 40% top 40%;
  height: 800px;
  margin-top: 106px;
  padding: 0 95px;
}

.game-flex {
  display: flex;
}

.stars, .box {
  width: 602px;
  margin-left: 78px;
}

.stars {
  display: flex;
  justify-content: space-around;
  height: 23px;
  margin-bottom: 31px;
}

.box {
  position: relative;
  height: 198px;
  background-color: #78D9FF;
  box-shadow: 0px 4px 32px 0px rgba(116, 121, 145, 0.2);
  border-radius: 30px;
}

.box-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.box-image::after {
  clear: both;
  content: '';
  display: block;
}

.game-image-list {
  width: 232px;
  height: 231px;
}

.game-list-title {
  margin-top: -18px;
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  color: #454950;
  text-align: center;
}

.game-list-subtitle {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #AAAAAA;
}

.game-relative {
  position: relative;
}

.game-relative::after {
  clear: both;
  content: '';
  display: block
}

.game-first-image {
  position: absolute;
  top: 50px;
  left: 0;
}

.game-second-image {
  position: absolute;
  top: 119px;
  left: 25%
}

.game-third-image {
  position: absolute;
  top: 131px;
  left: 50%;
}

.game-last-image {
  position: absolute;
  right: 0;
  top: 0;
}

.choice {
  height: 900px;
  background: #F2FBFF;
}

.choice-list {
  display: flex;
  justify-content: space-around;
  padding-top: 41px;
}

.choice-list > li {
  position: relative;
}

.choice-list-subtitle {
  font-size: 26px;
  font-weight: bold;
  color: #393E46;
  line-height: 1.5;
  position: absolute;
  top: 288px;
  left: 50%;
  transform: translate(-50%, 0);
}

.choice-list-subtitle::after{
  display: block;
  clear: both;
  content: '';
}

.cooperation-list {
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  margin: 0;
}

.footer {
  margin-top: 110px;
  padding: 91px 0 72px;
  box-sizing: border-box;
  width: 100%;
  height: 239px;
  background: linear-gradient(270deg, #4BD2FA 0%, #6AB6FF 100%);
  text-align: center;
}

.footer-head, .footer-info {
  color: #FFFFFF;
  line-height: 1.5;
}

.footer-head {
  font-size: 24px;
  font-weight: 400;
}

.footer-info {
  font-size: 18px;
}

.footer-icon {
  width: 40px;
  height: 43px;
  border: 1px solid
}
